* {
  font-family: 'Raleway', Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 244, 244);
}

#app {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 360px;
  height: 80%;
  padding: 10px;
  filter: drop-shadow(1px 1px 2px grey);
  background-color: white;
  border-radius: 5px;

}

.search {
  width: 100%;
  padding: 5px;
  font-size: 15pt;
  border: 0 none;
  border-bottom: 1px solid;
}

.addTag {
  width: 100px;
  padding: 5px 0;
  font-size: 12pt;
  border: 0 none;
  border-bottom: 1px solid;
  margin-bottom: 5px;
}

.search:focus-visible, .addTag:focus-visible {
  outline: none;
}

.list {
  overflow: auto;
}

.student {
  display: flex;
  flex-direction: row;
}

.student:not(:last-child) {
  border-bottom: 1px dotted grey;
}

.pic {
  margin-top: 40px;
  width: 100px;
  border: 1px dotted grey;
  border-radius: 50px;
}

.profile {
  flex-grow: 2;
  padding-left: 20px;
}

.profile h1 {
  text-transform: uppercase;
  font-weight: bolder;
}

.grades, .summary {
  font-size: large;
  list-style-type: none;
  padding-left: 15px;
}

.tagsComponent {
  margin-left: 15px;
}

.tagList {
  display: flex;
}

.tag {
  padding: 5px 8px;
  margin: 0 10px 10px 0;
  background-color: lightgrey;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 2px grey)
}

.toggle {
  font-size: 60px;
  color: grey;
  background-color: inherit;
  border: 0;
}